.input-field .helper-text {
    display: block !important;
    margin-bottom: 5px !important;
}

.cardGlassmorphism {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

body {
    background: url('assets/placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
}

