@{
	Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<div class="row center" style="width: 100%; height: 7em;">
	<div class="row">
		<div class="col s12 m12 l12"></div>
	</div>

</div>
	
	<div class="row center">
		<div class="col s4 m4 l4"></div>

        <div class="col s4 m4 l4">
            <div class="relative-container" style="position: relative; width: 100%;">

                <!-- SAAN KAKAIN TITLE -->
                <div class="title-image" style="position: absolute; top: -12em; left: 50%; transform: translateX(-50%); z-index: 10;">
                    <img src="~/Content/assets/saantitle.png" style="max-width: 40em; height: auto;">
                </div>

                <div class="col s12 m12 l12">
                    <div class="card cardGlassmorphism" style="border-radius: 30px; padding: 40px; z-index: 1;">
                        <form name="registrationForm" class="card-content black-text">
                            <div class="row">

                                @*space inside card*@
                                <div class="row" style="margin: 3em"></div>

                                <p>Welcome, ka-foodie! Fill out the details below to create your account!</p>

                                @*First Name Form Field*@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="fName" name="fName" type="text" class="validate" ng-model="firstName"
                                           @* must start and end with letters, dashes, single quotes, or whitespace characters. *@
                                           ng-pattern="/^[a-zA-Z\-\'\s]+$/"
                                           ng-minlength="2"
                                           ng-maxlength="30"
                                           required>
                                    <label for="fName">First Name</label>

                                    @*FROM MATERIALIZECSS - Helper Text is used for custom validation messages*@
                                    @*$error - built-in feature of the form validation system of AngularJS.
                                        Here, it is used to check if the input fails to meet the validation rules
                                        such as if the user fails to fill up the required form or did not complete the field
                                        when the field was touched or filled up *@

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.fName.$touched || registrationForm.fName.$dirty)">
                                        <span ng-if="registrationForm.fName.$error.required">First name is required.</span>
                                        <span ng-if="registrationForm.fName.$error.minlength">First name must be at least 2 characters long.</span>
                                        <span ng-if="registrationForm.fName.$error.maxlength">First name cannot exceed 30 characters.</span>
                                        <span ng-if="registrationForm.fName.$error.pattern">First name can only contain letters, dashes (-), and spaces.</span>
                                    </span>
                                </div>


                                @*Address Form Field*@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">place</i>
                                    <input id="address" name="address" type="text" class="validate" ng-model="address" autocomplete="on"
                                           ng-pattern="/^[a-zA-Z0-9#\-\.\s]+$/"
                                           ng-minlength="5"
                                           ng-maxlength="100"
                                           data-length="100"
                                           required>
                                    <label for="address">Address</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.address.$touched || registrationForm.address.$dirty)">
                                        <span ng-if="registrationForm.address.$error.required">Address is required.</span>
                                        <span ng-if="registrationForm.address.$error.minlength">Address must be at least 5 characters long.</span>
                                        <span ng-if="registrationForm.address.$error.maxlength">Address cannot exceed 100 characters.</span>
                                        <span ng-if="registrationForm.address.$error.pattern">
                                            Address can only contain letters, numbers, number sign (#), dashes (-), periods (.), and spaces.
                                        </span>
                                    </span>
                                </div>

                                @*Middle Name Form Field*@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="mName" name="mName" type="text" class="validate" ng-model="middleName"
                                           ng-pattern="/^[a-zA-Z\-\'\s]+$/"
                                           ng-minlength="1"
                                           ng-maxlength="30"
                                           required>
                                    <label for="mName">Middle Name</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.mName.$touched || registrationForm.mName.$dirty)">
                                        <span ng-if="registrationForm.mName.$error.required">Middle name is required.</span>
                                        <span ng-if="registrationForm.mName.$error.minlength">Middle name must be at least 1 character long.</span>
                                        <span ng-if="registrationForm.mName.$error.maxlength">Middle name cannot exceed 30 characters.</span>
                                        <span ng-if="registrationForm.mName.$error.pattern">Middle name can only contain letters, dashes (-), and spaces.</span>
                                    </span>

                                </div>

                                @*Email Form Field
                                    According to RFC 3696 - a document by IETF (org that defines the guidelines and standards of Internet.),
                                    An email address can have a total length of 320 characters. 64 characters for the local address before
                                    the @ (which counts as 1 character) and 255 characters for the FQDN (Fully Qualified Domain Name)*@

                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" name="email" type="email" class="validate" ng-model="email" autocomplete="on"
                                           ng-pattern="emailPattern"
                                           ng-maxlength="254" required>
                                    <label for="email">Email</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.email.$touched || registrationForm.email.$dirty)">
                                        <span ng-if="registrationForm.email.$error.required">Email is required.</span>
                                        <span ng-if="registrationForm.email.$error.maxlength">Email cannot exceed 254 characters.</span>
                                        <span ng-if="registrationForm.email.$error.pattern">Please enter a valid email address.</span>
                                    </span>
                                </div>


                                @*Last Name Form Field*@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="lName" name="lName" type="text" class="validate" ng-model="lastName"
                                           ng-pattern="/^[a-zA-Z\-\'\s]+$/"
                                           ng-minlength="2"
                                           ng-maxlength="50"
                                           required>
                                    <label for="lName">Last Name</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.lName.$touched || registrationForm.lName.$dirty)">
                                        <span ng-if="registrationForm.lName.$error.required">Last name is required.</span>
                                        <span ng-if="registrationForm.lName.$error.minlength">Last name must be at least 2 characters long.</span>
                                        <span ng-if="registrationForm.lName.$error.maxlength">Last name cannot exceed 50 characters.</span>
                                        <span ng-if="registrationForm.lName.$error.pattern">Last name can only contain letters, dashes (-), and spaces.</span>
                                    </span>
                                </div>

                                @*Phone Number Form Field*@
                                @*FIX THIS LATER -- NOT WORKING FOR VALID 11-DIGIT MOBILE NUMBER *@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">local_phone</i>
                                    <input id="phoneNumber" name="phoneNumber" type="tel" class="validate" ng-model="phoneNumber"
                                           ng-pattern="/^\d{7,11}$/"
                                           ng-minlength="7"
                                           ng-maxlength="11"
                                           required>
                                    <label for="phoneNumber">Phone Number</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.phoneNumber.$touched || registrationForm.phoneNumber.$dirty)">
                                        <span ng-if="registrationForm.phoneNumber.$error.required">Phone number is required.</span>
                                        <span ng-if="registrationForm.phoneNumber.$error.pattern">Phone number must be valid.</span>
                                        <span ng-if="registrationForm.phoneNumber.$error.minlength">Phone number must be at least 7 digits.</span>
                                        <span ng-if="registrationForm.phoneNumber.$error.maxlength">Phone number cannot exceed 11 digits.</span>
                                    </span>
                                </div>

                                @*Password Form Field*@
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <input id="userPassword" name="userPassword" type="password" class="validate" ng-model="userPassword"
                                           ng-minlength="8"
                                           ng-maxlength="20"
                                           required>
                                    <label for="userPassword">Password</label>

                                    <span class="helper-text" style="position: absolute; bottom: -2em; left: 0;"
                                          ng-if="(registrationForm.userPassword.$touched || registrationForm.userPassword.$dirty)">
                                        <span ng-if="registrationForm.userPassword.$error.required">Password is required.</span>
                                        <span ng-if="registrationForm.userPassword.$error.minlength">Password must be at least 8 characters long.</span>
                                        <span ng-if="registrationForm.userPassword.$error.maxlength">Password cannot exceed 20 characters.</span>
                                    </span>
                                </div>


                                @* getInputData function will hold the information that we will store in our array *@
                                <div class="col s12 m12 l12" style="margin-top: 2em;">
                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light btn-large col s12 m12 l12 green darken-1" ng-click="submitRegistration()" ng-disabled="registrationForm.$invalid"><i class="material-icons left">check_circle</i>Submit</a>
                                    </div>

                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light btn-large col s12 m12 l12 red darken-4" ng-click="cancelFunc()" ng-disabled="registrationForm.$pristine"><i class="material-icons left">remove_circle</i>Cancel</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div class="col s4 m4 l4"></div>

	</div>

